.App {
  text-align: center;
  background-color: black;
  color: rgb(15, 15, 27);
  text-align: right;
  /* media queries */
  @media (max-width: 767px) {
    text-align: center;
  }
  @media (max-width: 400px) {
    text-align: left;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.title-bar{
  background-color: black;
  display: block;
  padding-left: 16px;
  color: aliceblue;
  font-size: 24;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


